.box {
  width: 40%;
  background-color: blue;
  padding: 20px;
  margin: 40px auto;
  border: 15px solid black;
  text-align: center;
}

h1 {
  text-align: center;
}

.circle-blue {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  background-color: rgb(162, 210, 224);
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  margin: 5px;
  font-size: 13px;
}

.letters {
  font-size: 1px;
  margin: 20px;
  color: blue;
  padding: 20px;
}

.answer {
  text-align: center;
}

.answer-box {
  width: 70%;
  height: 25px;
  margin: 10px;
}

button {
  border-color: darkcyan;
  line-height: 2rem;
  font-size: 1rem;
  text-align: center;
  color: #000000;
  border-radius: 5px;
  background-color: rgb(162, 210, 224);
}

.correct-counter {
  margin: 5px;
}

.incorrect-counter {
  margin: 5px;
}

.correct-answers {
  font-size: 20px;
  color: rgb(49, 239, 11);
  font-weight: bold;
}

.incorrect-answers {
  font-size: 20px;
  color: red;
  font-weight: bold;
}

h3 {
  margin: 10px;
}

.start-button {
  background-color: green;
  margin: 10px;
}

.pasapalabra-button {
  margin: 10px;
}

.hidden {
  /* display: none; esta opción no me reserva espacio para el botón */
  visibility: hidden;
}
